.pokemons {
    margin-top: 50px;
    padding: 2rem;
}

.pokemons__title {
    font-size: 3rem;
}

.pokemons__table {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.pokemons__card {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
    max-width: 155px;
    min-height: 200px;
    width: 100%;
    padding: 20px 15px 15px 15px;
    border-radius: 15px;
}

.pokemons__information {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    grid-template-areas: 
        "pokemonName pokemonId"
        "pokemonType .";
    color: white;
}

.pokemons__type {
    grid-area: pokemonType;
    margin-bottom: 5px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
    font-size: 1.3rem;
}

.pokemons__number {
    grid-area: pokemonId;
    justify-self: end;
    font-size: 1.3rem;
}

.pokemons__img {  
    width: 80px;
    height: 80px;
    display: flex;
    justify-self: end;
}

.pokemons__name {
    grid-area: pokemonName;
    font-weight: bold;
    letter-spacing: 1px;
    font-size: 1.5rem;
}

#loadMore {
    display: flex;
    margin-top: 2rem;
    background-color: rgb(100, 92, 220);
    color:white;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    justify-self: center;
    transition: filter 0.3s;
}

#loadMore:hover {
    filter: brightness(110%);
    cursor: pointer;
}
