.modal {
    width: 100%;
    margin: 2rem auto;
    border-radius: 30px;
    border: none;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__close {
    position: relative;
    left: 30px;
    top: 20px;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    font-size: 2.5rem;
    font-weight: 1000;
}

.modal__informations {
    display: flex;
    margin-top: 30px;
    padding: 0 25px 0;
}

.pokemon__type--modal {
    display: inline-block;
    margin: 10px 1rem 0 0;
    padding: 5px 20px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
}

.modal__name, .pokemon__type--modal, .modal__id {
    color: white;
}

.modal__name {
    font-size: 3rem;
    letter-spacing: 2px;
}

.pokemon__type--modal, .modal__id {
    font-size: 1.4rem;
}

.modal__id {
    font-weight: 1000;
}

.modal__id--container {
    margin-left: auto;
}

.modal__id {
    margin-top: 20px;
}

.modal__pic--container {
    text-align: center;
}

.modal__img {
    max-width: 200px;
    position: relative;
    z-index: 1003;
}

.modal__infos--container {
    background-color: rgb(255, 255, 255);
    padding: 0px 25px 40px;
    font-size: 1.3rem;
    z-index: 1001;
    
}

.modal__infos--container::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 46px;
    z-index: 1002;
    top: 290px;
    right: 0px;
    border-radius: 30px 30px 0 0;
}

.modal__section--container {
    display: flex;
    justify-content: center;
    font-size: 1.3rem;
    gap: 25px;
}

.modal__tab {
    display: grid;
    grid-template-columns: 1fr 2fr;
    grid-template-rows: repeat(8, auto);
    grid-template-areas:
        "species speciesResponse"
        "height heightResponse"
        "weight__text weightResponse"
        "abilities abilitiesResponse"
        ". ."
        "breeding ."
        "gender genderResponse"
        "eggGroups eggGroupsResponse"
        "eggCycle eggCycleResponse";
    
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 40px;
}

.species {
    grid-area: species;
}

.speciesResponse {
    grid-area: speciesResponse;
}

.height {
    grid-area: height;
}

.heightResponse {
    grid-area: heightResponse;
}

.weight__text {
    grid-area: weight__text;
}

.weightResponse {
    grid-area: weightResponse;
}

.abilities {
    grid-area: abilities;
}

.abilitiesResponse {
    grid-area: abilitiesResponse;
}

.breeding {
    grid-area: breeding;
    font-weight: bold;
}

.gender {
    grid-area: gender;
}

.genderResponse {
    grid-area: genderResponse;
}

.famale span {
    margin-left: 70px;
    color: rgba(255, 105, 180, 1);
    font-weight: 1000;
}

.male span {
    color: rgba(0, 0, 255, 1);
    font-weight: 1000;
}

.eggGroups {
    grid-area: eggGroups;
}

.eggGroupsResponse {
    grid-area: eggGroupsResponse;
}

.eggCycle {
    grid-area: eggCycle;
}

.eggCycleResponse {
    grid-area: eggCycleResponse;
}

.about__info--text {
    color: rgba(0, 0, 0, 0.6);
}

.stats__bar {
    width: 100%;
    height: 8px;
    background-color: rgba(128, 128, 128, 0.3);
}

.stats__bar--value {
    height: 8px;
    max-width: 168px;
}

.modal__tab--stats {
    display: grid;
    grid-template-columns: 1fr auto 2fr;
    grid-template-rows: repeat(7, auto);
    row-gap: 10px;
    column-gap: 20px;
    margin-top: 40px;
}

.stats__response {
    width: max-content;
}