.modal {
    width: 100%;
    margin: 50px auto;
    border-radius: 30px;
    border: none;
}

.modal::backdrop {
    background-color: rgba(0, 0, 0, 0.7);
}

.modal__informations {
    display: flex;
    margin-top: 30px;
    padding: 0 25px 0;
}

.modal__name, .pokemon__type--modal, .modal__id {
    color: white;
}

.modal__name {
    font-size: 40px;
}

.pokemon__type--modal, .modal__id {
    font-size: 20px;
}

.modal__id--container {
    margin-left: auto;
}

.modal__id {
    margin-top: 20px;
}

.pokemon__type--modal {
    display: column;
}

.modal__pic--container {
    text-align: center;
}

.modal__img {
    width: 200px;
    position: relative;
    z-index: 1003;
}

.modal__infos--container {
    background-color: rgb(255, 255, 255);
    padding: 0px 25px 0;
    font-size: 1.5rem;
    z-index: 1001;
    
}

.modal__infos--container::before {
    content: "";
    position: absolute;
    background-color: rgb(255, 255, 255);
    width: 100%;
    height: 50px;
    z-index: 1002;
    top: 300px;
    right: 0px;
    border-radius: 30px 30px 0 0;
}

.modal__section--container {
    display: flex;
    justify-content: center;
    font-size: 1.5rem;
    gap: 2.5rem;
}

.about__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(8, 1fr);
    grid-template-areas:
        "species speciesResponse"
        "height heightResponse"
        "weight__text weightResponse"
        "abilities abilitiesResponse"
        "breeding ."
        "gender genderResponse"
        "eggGroups eggGroupsResponse"
        "eggCycle eggCycleResponse";
    
    row-gap: 15px;
    margin-top: 40px;
}

.species {
    grid-area: species;
}

.speciesResponse {
    grid-area: speciesResponse;
}

.height {
    grid-area: height;
}

.heightResponse {
    grid-area: heightResponse;
}

.weight__text {
    grid-area: weight__text;
}

.weightResponse {
    grid-area: weightResponse;
}

.abilities {
    grid-area: abilities;
}

.abilitiesResponse {
    grid-area: abilitiesResponse;
}

.breeding {
    grid-area: breeding;
    weight: bold;
}

.gender {
    grid-area: gender;
}

.genderResponse {
    grid-area: genderResponse;
}

.eggGroups {
    grid-area: eggGroups;
}

.eggGroupsResponse {
    grid-area: eggGroupsResponse;
}

.eggCycle {
    grid-area: eggCycle;
}

.eggCycleResponse {
    grid-area: eggCycleResponse;
}

.about__info--text {
    color: rgba(0, 0, 0, 0.6);
}