.pokemons {
    margin-top: 50px;
    padding: 2rem;
}

.pokemons__title {
    font-size: 3rem;
}

.pokemons__table {
    margin-top: 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    justify-content: center;
}

.pokemons__card {
    display: flex;
    flex-direction: column;
    max-width: 155px;
    min-height: 200px;
    width: 100%;
    padding: 20px 15px 15px 15px;
    border-radius: 15px;
}

.pokemons__information--container {
    display: flex;
    flex-direction: column;
}

.pokemons__information {
    display: flex;
    flex-direction: column;
    color: white;
}

.pokemons__type {
    display: flex;
    margin-bottom: 5px;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 30px;
    background-color: rgba(255, 255, 255, .2);
    font-size: 1.3rem;
}

.pokemons__number--container {
    flex-grow: 1;
}

.pokemons__number {
    justify-self: end;
    font-size: 1.3rem;
}

.pokemons__img--container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
}

.pokemons__img {  
    display: block;
    object-fit: contain;
    width: 80px;
    height: 80px;
}

.pokemons__name {
    font-weight: bold;
    margin-bottom: 10px;
    letter-spacing: 1px;
    font-size: 1.5rem;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

#loadMore {
    display: flex;
    margin-top: 2rem;
    background-color: rgb(100, 92, 220);
    color:white;
    border: none;
    height: 40px;
    padding: 10px;
    border-radius: 10px;
    justify-self: center;
    transition: filter 0.3s;
}

#loadMore:hover {
    filter: brightness(110%);
    cursor: pointer;
}

.pokemons__information--text {
    display: flex;
}